*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    --cor-cabeçalho-inicial: #e7610d;
    --cor-cabeçalho-final: #c15d00;
    --cor-fundo-body: #f5f5f5;
    --cor-main: #fff ;
    --letras-letras-link: #000000;
    --cor-botao-cabeçalho:hwb(0 76% 13% / 0.49);
    --cor-rodape: #0a0909a8;
}

header {
    background-image: linear-gradient(to bottom, var(--cor-cabeçalho-inicial), var(--cor-cabeçalho-final));
    color: var(--letras-letras-link);
    padding: 15px ;
    text-align: center;
}

header h1 {
    font-size: 3.2;
    margin-top: 15px;
    text-shadow:3px 3px 8px rgb(233, 227,227) ;
}

nav { 
    margin-top: 20px;
    margin-top: 16px;
}

nav a{ 
    text-decoration: none;
    color: var(--letras-letras-link);
    background-color: var(--cor-botao-cabeçalho);
    padding: 8px 15px;
    border-radius: 17px;
    
}
nav a:hover {
    background-color: var(--cor-cabeçalho-final);
    transition: 4;
    background-color: rgb(100, 82, 82);
}   

footer{
    width:100w ;
    padding:20px ;
    text-align:center ;
    background-color:var(--cor-rodape) ;
    color:var(--letras-letras-link);
    position:relative :
    bottom:0 ;
}

